<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/fematarazzo/tem_trailer"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Alugue seu trailer e vivencie novas experiências com a Tem Trailer <i class="fas fa-heart"></i>
  </div>
</div>
