<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bucarsrv.com/wp-content/uploads/2017/08/diesel-motorhome-calgary.jpg);">
  <div class="container">
    <h1>Bem-vindos ao <strong>Tem Trailer</strong></h1>
    <p>Venha descobrir os melhores trailers do mercado</p>
    <%= link_to "View all Trailers", trailers_path, class:"btn btn-flat"%>
  </div>
</div>
