<div class="container mt-4">
  <h1>Sua reserva foi confirmada!</h1>
  <p>Aqui estão os detalhes da reserva:</p>
  <div>
      <h2 class="mt-4"><strong>Data de início: </strong><i> <%= l(@reservation.start_date, format:'%A, %d %b %Y') %> </i> </h2>
      <h2 class="mt-4"><strong>Data de devolução: </strong><i> <%= l(@reservation.end_date, format:'%A, %d %b %Y') %>  </i></h2>
      <h2 class="mt-4"><strong>Trailer reservado:</strong><i> <%= @reservation.trailer.model %></i></h2>
  </div>

  <%= link_to "Voltar para home", root_path, class:"btn btn-success mt-4" %>
</div>
