<div class="container mt-4">

  <h1>Todas as reservas de <%= @trailer.model %> </h1>

  <% @trailer.reservations.each do |reservation| %>
    <div class="card p-3">
    <h2><strong>Data de início: </strong><i> <%= l(reservation.start_date, format:'%A, %d %b %Y') %> </i> </h2>
    <h2><strong>Data de devolução: </strong><i> <%= l(reservation.end_date, format:'%A, %d %b %Y') %> </i> </h2>
    </div>
  <% end %>

</div>
