<h1>Todas as reservas de <%= @trailer.model %> </h1>

<% @trailer.reservations.each do |reservation| %>
  <div class="card">
  <h2> <%= reservation.start_date %> </h2>
  <h2> <%= reservation.end_date %> </h2>
  </div>
<% end %>
