.card-trailer {
  height: 300px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-form h1{
  color: black;
  }

.card-form {
  background-color: white;
}

.card-border {
   box-shadow: 1px 1px 1px 1px lightgrey;
   border-radius: 10px;
}

.card-model {
  width: 400px;
}

.card-width {
  width: 600px;
}

#date {
  color: $black;
}

.card-trailers {
  width: 300px;
}
